#initially-hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#clickme {
  cursor: pointer;
  color: #0088cc;
}

#textfade {
  display: none;
}

#clickme:hover {
  text-decoration: underline;
 }
